In [19]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [20]:
df = pd.read_csv("../data/1_train.csv")
df

,MWG,NWG,KWG,MDIMC,NDIMC,MDIMA,NDIMB,KWI,VWM,VWN,STRM,STRN,SA,SB,Runtime
0,16,16,16,8,8,8,8,2,1,1,0,0,0,0,116.3700
1,16,16,16,8,8,8,8,2,1,1,0,0,0,1,78.7050
2,16,16,16,8,8,8,8,2,1,1,0,0,1,0,80.5650
3,16,16,16,8,8,8,8,2,1,1,0,0,1,1,86.6375
4,16,16,16,8,8,8,8,2,1,1,0,1,0,0,118.6625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,128,64,32,32,16,32,32,2,1,2,1,0,1,1,21.3975
199996,128,64,32,32,16,32,32,2,1,2,1,1,0,0,48.9925
199997,128,64,32,32,16,32,32,2,1,2,1,1,0,1,36.8300
199998,128,64,32,32,16,32,32,2,1,2,1,1,1,0,31.4725
199999,128,64,32,32,16,32,32,2,1,2,1,1,1,1,21.5575

In [21]:
df = df.dropna()
X = df.drop(["Runtime"], axis=1)
y = df["Runtime"]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [24]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [25]:
print("mse", mean_squared_error(y_test, y_pred))
print("r2", r2_score(y_test, y_pred))

mse 37439.876162398876
r2 0.2661353973996211